.text-center {
    text-align: center !important;
}

.icon-button {
    height: 1.5rem !important;
}

.card-pesanan {
    width: 50% !important;
    box-shadow: .1rem .1rem .5rem gray !important;
}

.card-rangkuman {
    width: 32rem !important;

}

.card-button {
    width: 30.5rem !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}

.justify-content-center {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
}